@use "../abstracts/variables" as *;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: $text-color;
  background-color: $background-color;
}

label {
  display: block;
}

