.content {
  display: flex;
  flex-direction: column;
  align-items: center;    // center horizontally
  justify-content: flex-start; // align to top
  min-height: 100%;
  width: 100%;
}

.cards-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    margin: 0 auto;    
}