@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
// <header id="page-header">
//     <h1>engineertools.nl</h1>
// </header>

.header {
  grid-area: header;
  padding-left: 20px;
  background-color: $primary-color;
  color: white;
  display: flex;
  align-items: center;
  @include box-shadow;
}
