@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.text-center {
  text-align: center;
}

.mt-sm { margin-top: $spacing-sm; }
.mt-md { margin-top: $spacing-md; }
.mt-lg { margin-top: $spacing-lg; }

.mb-sm { margin-bottom: $spacing-sm; }
.mb-md { margin-bottom: $spacing-md; }
.mb-lg { margin-bottom: $spacing-lg; }

.d-flex { display: flex; }
.flex-center { @include flex-center; }
