@use "sass:color";
@use "../abstracts/variables" as *;

.btn {
  background-color: $primary-color;
  padding-inline-start: 0.875rem;
  padding-inline-end: 0.875rem;
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $secondary-color;
  }


}

.btn--secondary {
  background-color: $secondary-color;
  padding-inline-start: 0.875rem;
  padding-inline-end: 0.875rem;
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: color.adjust($secondary-color, $lightness: -10%);
  }
}