@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/buttons" as *;

.card {
  background-color: white;
  padding: $spacing-md;
  border-radius: $border-radius;
  @include box-shadow;

  &__title {
    font-size: 1.25rem;
    margin-bottom: $spacing-sm;
  }

  &__inputs {
    font-size: 1rem;
    color: color.adjust($text-color,  $lightness: 20%);
    &__button {
      margin-top: $spacing-sm;
      @extend .btn--primary;
    }
  }

  &__result {
    margin-top: $spacing-md;
    font-size: 1.1rem;
    color: $primary-color;
  }
}
